.LD2_Showcase
{
    width: 700px;
    margin: 0 auto;
}

.LD2_Logo
{
	float: left;
}

.LD2_Logo img
{
	width: 145px;
	height: 145px;
    margin-top: 21px;
}

.LD2_TD
{
	margin: 0px 15px;
	float: left;
	width: 350px;
}

.LD2_Title
{
	margin-bottom: 15px;
    text-align: center;
    font-size: large;
}

.LD2_Description
{
    text-align: justify;
}

.LD2_Screenshot
{
    height: 145px;
    width: 145px;
    float: left;
    border: 1px solid black;
    position: relative;
    top: 21px;
    overflow: hidden;
}

.LD2_Screenshot img
{
    width: 145px;
    padding-top: 21px;
}

.LD2_Showcase_pnlControls
{
    clear: both;
    padding-top: 10px;
    margin-bottom: 50px;
}